
/* ROOTS */
:root {
    --color-base-black: #111;
    --color-base-dark-purple: #1e1823;
    --color-base-dark-gray: #4c4c4c;
    --color-base-light-cream: #fcf1e0;
    --color-base-off-white: #fafafa;
    --color-base-white: #fff;
    --color-base-marker-border: #eceded;
    --color-base-marker-body: #4c4c4c;
    --color-accent-primary: #fd9222;
    --color-opacity-black-10: rgba(17, 17, 17, 0.1);
    --color-opacity-black-40: rgba(17, 17, 17, 0.4);
    --color-opacity-black-70: rgba(17, 17, 17, 0.7);
    --color-opacity-white-10: rgba(255, 255, 255, 0.1);
    --color-opacity-white-70: rgba(255, 255, 255, 0.7);
}



/* Base styles */
/* *{
    box-sizing: border-box;
} */
body{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color:var(--color-base-black);
    background-color: var(--color-base-off-white);
}
button{
  font-family: inherit;  
}
.container{
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 16px;
}
.section{
    padding-bottom: 60px;
    padding-top: 60px;
}



/* Reset styles */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    color: currentColor;
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}






/* class styles */

.page-header{
    display: flex;
    /* padding: 28px ; */
    align-items: center;
    
}

.link-header{
    display: inline-flex;
    font-style: italic;
        font-weight: 700;
        font-size: 18px;
        line-height: 111%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        flex-grow: 2;
        gap: 4px;
}
.link-header-icon{
    stroke: #fd9222;
    fill: #FCF1E0;
}
.nav-list{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 90px;
    flex-grow: 1;
}
.nav-item{
        box-sizing: content-box;
        font-weight: 500;
        font-size: 13px;
        line-height: 114%;
        letter-spacing: -0.02em;
        padding: 28px 0;
}
.nav-item:not(:last-child){
    margin-right: 20px;
}
.nav-item-link{
    padding: 24px 0 ;
}

.nav-item-link:hover,
.nav-item-link:focus{
    color: #fd9222;
}
.social{
    display: flex;
}
.social-item{
         width: 100%;
         height: 100%;   
}
.social-item:not(:last-child){
    margin-right: 14px;
}
.social-links{
display: flex;
border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.social-links:hover,
.social-links:focus{
border-color: rgba(253, 146, 34, 0.1);
}
.social-links-icon:hover,
.social-links-icon:focus{
    fill: #fd9222;
}

/* Hero */
.hero{
padding-bottom: 80px;
}
.hero-wrapper{
    border-radius: 30px;
    padding: 380px 40px 40px;
    background-color:rgba(17, 17, 17, 0.4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image:
     linear-gradient(rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)),
                 url(../img/hero/hero_lr.jpg);
                 
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-wrapper {
        background-image:
                linear-gradient(rgba(17, 17, 17, 0.4),
                    rgba(17, 17, 17, 0.4)),
                url(../img/hero/hero_lr@2x.jpg);
    }
}
.hero-title{
    font-weight: 500;
        font-size: 28px;
        line-height: 121%;
        letter-spacing: -0.03em;
        color: #fff;
        margin-bottom: 32px;
        max-width: 484px;
}
.hero-btn-box{
    display: flex;
    align-items:  center;
    justify-content: space-between;}

.btn-buy{
    border-radius: 100px;
        padding: 14px 40px;
        min-width: 144px;
        height: 45px;
        color: #fff;
        border: none;
        background-color: #fd9222;
        margin-right: 14px;
}
.btn-buy:hover,
.btn-buy:focus{
    background: #fcf1e0;
    color: #fd9222;
}

.btn-how{
      
        border: 1px solid #fff;
        border-radius: 100px;
        padding: 14px 40px;
        min-width: 183px;
        height: 45px;
        color: #fff;
        background-color: rgba(17, 17, 17, 0.1);
    }

.btn-how:hover,
.btn-how:focus {
    border-color: #fd9222;
    color: #fd9222;
}

.accent{
   color: #fd9222;
}

.link-scroll{
    display: inline-flex;
    align-items: center;
}
.link-scroll:hover .scroll-down,
.link-scroll:focus .scroll-down{
    color: #fd9222;
}

.link-scroll:hover .link-scroll-span,
.link-scroll:focus .link-scroll-span {
   background-color: #fd9222;
}

.scroll-down{
   
    font-weight: 500;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.03em;
        color: #fff;
        margin-right: 14px;
        
}
.link-scroll-span{
    display: flex;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
        align-items: center;
}
/* .link-scroll-span:hover,
.link-scroll-span:focus{
    background-color: #fd9222;
} */



.link-scroll-icon{
    fill: #fd9222;

}
.link-scroll:hover .link-scroll-icon,
.link-scroll:focus .link-scroll-icon {
    fill: #fff;
    background-color: #fd9222;
}


/* benefits */
.benefits{
 background-color: #1e1823;
padding: 50px 0px;
}
.benefits-list{
display: flex;
justify-content: center;
gap: 88px;
}
/* .benefits-list-item:not(:last-child):after{
    display: block;
    content: "";
    width: 1px;
    height: 124px;

} */
.benefits-list-item{
    max-width: 308px;
}
.benefits-title {
font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}
.benefits-text{
line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}
/* Adds */
.add{
        
    padding-top: 120px;
}
.section-title{
    font-weight: 600;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;

        margin: 0px auto 50px;
        max-width: 412px;
}
.add-list{
    display: flex;
    gap: 32px ;
    flex-wrap: wrap;
}
.add-item{
    border-radius: 15px;
    width: 260px;
    padding: 28px 23px;
    background-color: #fd9222;   
}
.add-item-img{
    margin-bottom: 36px;
}
.add-item-text{
    font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #fff;
}
.white-item{
    background-color: #fff;
    border: 1px solid #fd9222;
}
.text-dark{
    color:#111;
}
.dark-item{
    background-color:#1e1823; ;
}
/* Made */

.made-wraper{
    display: flex;
}
.made-left{

    margin-right: 20px;
    width: 600px;
    height: 400px;
    border-radius: 15px;
     overflow: hidden;
}
.made-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
   
   
}
.made-right{
    padding: 32px;
    border-radius: 15px;
    background-color: var(--color-base-white);  
    max-width: 516px;
}
.made-item{
    display: flex;
}
.made-item::before{
    flex-shrink: 0;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #4c4c4c;
    border: 1px solid #eceded;
    margin-top: 5px;
}
.made-list-item:not(:last-child){
    margin-bottom: 24px;
}
.made-title{
    font-weight: 600;
        font-size: 18px;
        line-height: 133%;
        margin-bottom: 28px;
        max-width: 350px;
}
.made-text{
    font-weight: 400;
    line-height: 129%;
    letter-spacing: -0.02em;

}
/* Proructs */
.products-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 24px;
}
.products-item{
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 270px;
    height: 364px;
    background-color: #fff;
    padding: 28px 23px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.products-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-top: 8px;
}

.products-item-text{
    font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: -0.02em;
        color: rgba(17, 17, 17, 0.7);
        margin-bottom: 18px;
}
.products-btn{

    font-weight: 600;
    font-size: 12px;
    color: #111;
    padding: 8px 20px;
    width: 94px;
    height: 33px;
    background: #fafafa;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 100px;
        margin: 0 auto;



}
/* sellers */
.sellers-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}
.sellers-item{
    border-radius: 15px 15px 0 0;
        overflow: hidden;
        width: 368px;

        background-color: #fff;

}
.sellers-title{
    padding: 28px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-top: none;
        border-radius: 0 0 15px 15px;
        background: #fff;
        
}

/* Reviews */
.review{
    padding-bottom: 120px;
}
.review-title{
    margin-bottom: 92px;
}
.review-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px ;
}
.reviews-items {
    border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
        width: 360px;
        height: 200px;
        box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
            background: #fff;
            padding: 24px;
}
.review-img{
    margin: -66px auto 18px;
}
.reviews-named{
font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    margin-bottom: 24px;
}

.reviews-text{
font-weight: 400;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}
.review-btn{
    display: block;
    margin: auto;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;

}

.review-btn:hover {
    background-color: #fd9222;
    color: #fff;

}
/* Footer */
.footer{
    background-color: #1e1823;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer-title{
    font-weight: 500;
        font-size: 28px;
        line-height: 121%;
        letter-spacing: -0.02em;
        max-width: 300px;
}

.footer-social-list{
    gap: 14px;
}
.social-title{
        font-weight: 500;
        font-size: 14px;
        line-height: 129%;
        margin-right: auto;
}

.footer-social-item:hover .footer-icon-social,
.footer-social-item:focus .footer-icon-social{
    fill: #fd9222;
    border-color: rgba(253, 146, 34, 0.1);
}

.footer-icon-social{
    border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 8px;
    fill: #fafafa;
}
.adress-title{
    font-weight: 500;
        font-size: 14px;
        line-height: 129%;
}
.adress-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
}
.nav-footer{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}