/* * {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #edf2f7;
}

.card-set {
  padding: 0;
  list-style: none;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.item {
  padding: 4px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #212121;
    
}

@media (min-width:600px){
     .card-set {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

  }

  .item {
      
    flex-basis: calc((100% - 16px) / 3);
        }
}
@media (min-width:900px){
    .card-set {
        
        gap: 12px;
    }
    .item{
        flex-basis: calc((100% - 36px) / 4);
    }
} */



* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.infocard {
  max-width: 300px;
  border: 1px solid #212121;
}

.content {
  padding: 8px;
}

.title,
.descr {
  margin: 0;
}
