
/* ROOTS */
:root {
    --color-base-black: #111;
    --color-base-dark-purple: #1e1823;
    --color-base-dark-gray: #4c4c4c;
    --color-base-light-cream: #fcf1e0;
    --color-base-off-white: #fafafa;
    --color-base-white: #fff;
    --color-base-marker-border: #eceded;
    --color-base-marker-body: #4c4c4c;
    --color-accent-primary: #fd9222;
    --color-opacity-black-10: rgba(17, 17, 17, 0.1);
    --color-opacity-black-40: rgba(17, 17, 17, 0.4);
    --color-opacity-black-70: rgba(17, 17, 17, 0.7);
    --color-opacity-white-10: rgba(255, 255, 255, 0.1);
    --color-opacity-white-70: rgba(255, 255, 255, 0.7);
}



/* Base styles */
/* *{
    box-sizing: border-box;
} */
body{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color:var(--color-base-black);
    background-color: var(--color-base-off-white);
}
button{
  font-family: inherit;  
}
.container{
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 16px;
}
.section{
    padding-bottom: 60px;
    padding-top: 60px;
}



/* Reset styles */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    color: currentColor;
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}






/* class styles */

.page-header{
    display: flex;
    /* padding: 28px ; */
    align-items: center;
    
}

.link-header{
    display: inline-flex;
    font-style: italic;
        font-weight: 700;
        font-size: 18px;
        line-height: 111%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        flex-grow: 2;


}
.nav-list{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 90px;
    flex-grow: 1;
}
.nav-item{
        box-sizing: content-box;
        font-weight: 500;
        font-size: 13px;
        line-height: 114%;
        letter-spacing: -0.02em;
}
.nav-item:not(:last-child){
    margin-right: 20px;
}
.nav-item-link{
    padding: 24px 0 ;
}
.social{
    display: flex;
}
.social-item{
         width: 100%;
         height: 100%;   
}
.social-item:not(:last-child){
    margin-right: 14px;
}
.social-links{
padding: 28px;
}

/* Hero */
.hero{
padding-bottom: 80px;
}
.hero-wrapper{
    border-radius: 30px;
    padding: 380px 40px 40px;
    background-color:rgba(17, 17, 17, 0.4);
}
.hero-title{
    font-weight: 500;
        font-size: 28px;
        line-height: 121%;
        letter-spacing: -0.03em;
        color: #fff;
        margin-bottom: 32px;
        max-width: 484px;

}
.hero-btn-box{
    display: flex;
    align-items:  center;
    justify-content: space-between;}

.btn-buy{
    border-radius: 100px;
        padding: 14px 40px;
        min-width: 144px;
        height: 45px;
        color: #fff;
        border: none;
        background-color: #fd9222;
        margin-right: 14px;
}
.btn-how{
      
        border: 1px solid #fff;
        border-radius: 100px;
        padding: 14px 40px;
        min-width: 183px;
        height: 45px;
        color: #fff;
        background-color: rgba(17, 17, 17, 0.1);
    }

.accent{
   color: #fd9222;
}

.link-scroll{
    display: inline-flex;
}
.scroll-down{
    font-weight: 500;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.03em;
        color: #fff;
        
}
.link-scroll-span{
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

/* benefits */
.benefits{
 background-color: #1e1823;
padding: 50px 0px;
}
.benefits-list{
display: flex;
justify-content: center;
gap: 88px;
}
.benefits-list-item{
    max-width: 308px;
}
.benefits-title {
font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}
.benefits-text{
line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}
/* Adds */
.add{
        
    padding-top: 120px;
}
.section-title{
    font-weight: 600;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;

        margin: 0px auto 50px;
        max-width: 412px;
}
.add-list{
    display: flex;
    gap: 32px ;
    flex-wrap: wrap;
}
.add-item{
    border-radius: 15px;
    width: 260px;
    padding: 28px 23px;
    background-color: #fd9222;   
}
.add-item-img{
    margin-bottom: 36px;
}
.add-item-text{
    font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #fff;
}
.white-item{
    background-color: #fff;
    border: 1px solid #fd9222;
}
.text-dark{
    color:#111;
}
.dark-item{
    background-color:#1e1823; ;
}
/* Made */
.made-title{
    font-weight: 600;
        font-size: 18px;
        line-height: 133%;
}
.made-text{
    font-weight: 400;
    line-height: 129%;
    letter-spacing: -0.02em;

}
/* Proructs */
.products-item{
border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 270px;
    height: 364px;
    background-color: #fff;
    padding: 28px 23px;
    
}
.products-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-item-text{
    font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: -0.02em;
        color: rgba(17, 17, 17, 0.7);
}
.products-btn{
    font-weight: 600;
    font-size: 12px;
    color: #111;
    padding: 8px 20px;
    width: 94px;
    height: 33px;
    background: #fafafa;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 100px;
}
/* sellers */
.sellers-item{
    border-radius: 15px;
        width: 368px;
        height: 544px;
        background-color: #fff;

}
.sellers-title{
    font-weight: 600;
        font-size: 18px;
        line-height: 133%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}

/* Reviews */
.reviews-items {
    border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
        width: 360px;
        height: 200px;
        box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
            background: #fff;
}
.reviews-named{
font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
}

.reviews-text{
font-weight: 400;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}
.review-btn{
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
}
/* Footer */
.footer{
    background-color: #1e1823;
    color: #fff;
}
.footer-title{
    font-weight: 500;
        font-size: 28px;
        line-height: 121%;
        letter-spacing: -0.02em;
}
.social-title{
        font-weight: 500;
        font-size: 14px;
        line-height: 129%;
}
.adress-title{
    font-weight: 500;
        font-size: 14px;
        line-height: 129%;
}
.adress-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
}
.nav-footer{
    border: 1px solid rgba(255, 255, 255, 0.1);
}